* {
  font-family: "Courier New", Courier, monospace;
}

body {
  max-width: 700px;
  margin: auto;
  background-color: #fefae0;
}

h1 {
  text-align: center;
}

img {
  max-width: 500px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 0px auto 40px auto;
}
